@{
  Layout="Shared/_Layout.cshtml";
}
<div>
    <a href="/"><img class="home" src="/Content/img/home.png"><h2 class="inline-title">Clients</h2>
</div>
<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input type="text" name="stylist-search" class="form-control search" placeholder="Search clients">
            <div class="input-group-addon">Search!</div>
        </div>
    </div>

    <a href="/client/new"><button type="button" class="new-client btn btn-info">New Client</button></a>
</form>


@if (Model.Count != 0)
  {
    @foreach (var client in Model)
    {
            <div>
                <h4><a href="/client/@client.GetId()">@client.GetName()</a></h4>
                <a href="/client/delete/@client.GetId()"><img src="/Content/img/delete.jpg" class="delete" alt="delete"></a>
            </div>

    }
  }
  else
  {
      <h4>There aren't any clients yet! Would you like to <a href="/client/new">add one</a>?</h4>
  }
