@{
    Layout="Shared/_Layout.cshtml";
}
<div>
    <a href="/"><img src="Content/home.png"></a> alt="Home"><h2>Clients</h2>
</div>

<h4>Are you sure you want to delete @Model.GetName()?</h4>
<form action="/client/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-primary">Delete</button>
</form>
