@{
    Layout="Shared/_Layout.cshtml";
}
<h2>Clients</h2>

<h4>Are you sure you want to delete @Model.GetName()</h4>
<form action="/client/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-primary">Delete</button>
</form>
