/*************General Styles**************/
h2 {
    font-size: 72px;
    text-align: center;
}

h2 a, h4 a {
    color: black;
}

form.search, .new-client {
    display: inline;
}

img.delete {
    max-height: 20px;
}

h4, .inline-title {
    display: inline-block;
}

.home {
    max-height: 80px;
    margin-bottom: 40px;
}
/*************Home Page Styles**************/


h2 a:hover {
    text-decoration: none;
}
